body {
  background-color: #FFC0CB;
  color:black;
  font-family: 'Noto Sans', sans-serif;
}

header {
  margin-top: 20px;
}
img {
  width: 100%;
  margin-bottom: 30px;
}

}
a {
  text-decoration: underline;
  color: DeepPink;
  margin-bottom: 30px;
  font-weight: bolder;
}


#bannerflog img {
  height: 100px;
}
h1, p{
  color: DeepPink;
}
h1{
  font-size: 50px;
  font-weight: bolder;
}

textarea, input{
  width: 100%;
  border-radius: 3px;
  border: 1px solid DeepPink;
  margin-bottom: 20px;
}

/*
.posteo {
  color: DeepPink;
}
.posteo strong{
  display: block;
}
.posteo hr {
  border: 1px solid DeepPink;
}
*/

.btn-fotolog{
  background-color: #FFC0CB;
  color: black;
  border: 1px solid DeepPink;
  border-radius: 3px;
}

.btn-fotolog:hover{
  background-color: DeepPink;
}

footer{
  padding: 10px;
}




/* Estilos comentarios */

@media (max-width: 800px){
  .logo{
    width: 40%;
  }
  #bannerflog h1{
    font-size: 40px;
    text-align: center;
  }
  .arenita{
    padding-top: 20px;
  }
  .arenita p{
    font-size: 20px;
  }
  .uno{
    display: none;
  }
}